 <div>

    <div class="row">
      <h1   style="text-align: center;">Currency Converter</h1>
    </div>
  
   <div class="row">
    <div class="main-div" style="display: flex; height: 750px; justify-content: center; align-items: center;">
      
        <div class="main-container mt-1">
      
        <label for="amount">Amount:</label>
                <input type="number" placeholder="enter amount" id="amount" [(ngModel)]="amount" (input)="convertCurrency()" />
                <br />
                <label for="fromCurrency">From Currency:</label>
                <select id="fromCurrency" [(ngModel)]="fromCurrency" (change)="convertCurrency()">
                  <option *ngFor="let currency of currencies" [value]="currency">{{ currency }} </option>
                </select>
                <br />
                <label for="toCurrency">To Currency:</label>
                <select id="toCurrency" [(ngModel)]="toCurrency" (change)="convertCurrency()">
                  <option *ngFor="let currency of currencies" [value]="currency">{{ currency }} </option>
                </select>
                <br />
                <p>Result: {{ result }}</p>
         
      </div>
      
      </div>
   </div>
  
  </div>
  
   