/* You can add global styles to this file, and also import other style files */

body{
    background-image: url(https://fiverr-res.cloudinary.com/images/q_auto,f_auto/gigs/138902478/original/8395f14ae24e31dbcc18ead0b77b78a83de35661/give-you-the-gps-latitude-and-longitude-of-your-address.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    }